/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.container {
    max-width: 1300;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: #cccccc;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar span {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -12px;
    background-color: #ff523b;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

nav {
    flex: 1;
    text-align: right;
    line-height: 36px;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.search-box {
    display: flex;
    top: 10px;
    left: 90px;
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

#search-btn {
    color: #555;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 10px;
    color: #555;
    font-size: 16px;
    height: 20px;
    transition: 0.4s;
    line-height: 40px;
    width: 270px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300;
}

.container-account {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container-account .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container-account #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container-account .cover .front,
.container-account .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container-account .cover::before,
.container-account .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #555;
    opacity: 0.5;
    z-index: 12;
}

.container-account .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container-account .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container-account .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.container-account .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container-account .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #555;
}

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #555;
}

.form-content .input-box i {
    position: absolute;
    color: #555;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .text a {
    text-decoration: none;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input {
    color: #fff;
    background: #555;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: #ccc;
    color: #000;
}

.forms .form-content label {
    color: #555;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container-account #flip {
    display: none;
}

.footer {
    background-color: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer .container {
    background-color: #000;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none !important;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.coppyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media (max-width: 730px) {
    .container-account .cover {
        display: none;
    }
    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }
    .form-content .signup-form {
        display: none;
    }
    .container-account #flip:checked~.forms .signup-form {
        display: block;
    }
    .container-account #flip:checked~.forms .login-form {
        display: none;
    }
}